html,
body {
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.login-b-image {
    background-image: url(https://cdn-icons-png.freepik.com/512/7465/7465751.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}